<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medico">
            <h2><span jhiTranslate="agendamentoApp.medico.detail.title">Medico</span> {{medico.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="agendamentoApp.medico.nome">Nome</span></dt>
                <dd>
                    <span>{{medico.nome}}</span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.medico.crm">Crm</span></dt>
                <dd>
                    <span>{{medico.crm}}</span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.medico.medico">Medico</span></dt>
                <dd>
                    <span *ngFor="let medico of medico.medicos; let last = last">
                        <a [routerLink]="['/especialidade', medico?.id, 'view' ]">{{medico.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.medico.medico">Medico</span></dt>
                <dd>
                    <span *ngFor="let medico of medico.medicos; let last = last">
                        <a [routerLink]="['/plano-de-saude', medico?.id, 'view' ]">{{medico.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medico', medico.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
