<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoDeSaude">
            <h2><span jhiTranslate="agendamentoApp.planoDeSaude.detail.title">Plano De Saude</span> {{planoDeSaude.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="agendamentoApp.planoDeSaude.nomePlano">Nome Plano</span></dt>
                <dd>
                    <span>{{planoDeSaude.nomePlano}}</span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.planoDeSaude.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{planoDeSaude.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.planoDeSaude.planoDeSaude">Plano De Saude</span></dt>
                <dd>
                    <span *ngFor="let planoDeSaude of planoDeSaude.planoDeSaudes; let last = last">
                        <a [routerLink]="['/medico', planoDeSaude?.id, 'view' ]">{{planoDeSaude.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.planoDeSaude.planoDeSaude">Plano De Saude</span></dt>
                <dd>
                    <span *ngFor="let planoDeSaude of planoDeSaude.planoDeSaudes; let last = last">
                        <a [routerLink]="['/especialidade', planoDeSaude?.id, 'view' ]">{{planoDeSaude.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-de-saude', planoDeSaude.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
