<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="especialidade">
            <h2><span jhiTranslate="agendamentoApp.especialidade.detail.title">Especialidade</span> {{especialidade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="agendamentoApp.especialidade.nomeEspecialidade">Nome Especialidade</span></dt>
                <dd>
                    <span>{{especialidade.nomeEspecialidade}}</span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.especialidade.especialidade">Especialidade</span></dt>
                <dd>
                    <span *ngFor="let especialidade of especialidade.especialidades; let last = last">
                        <a [routerLink]="['/medico', especialidade?.id, 'view' ]">{{especialidade.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="agendamentoApp.especialidade.especialidade">Especialidade</span></dt>
                <dd>
                    <span *ngFor="let especialidade of especialidade.especialidades; let last = last">
                        <a [routerLink]="['/plano-de-saude', especialidade?.id, 'view' ]">{{especialidade.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/especialidade', especialidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
